//color
$black: #000000;
// 黒寄りのグレー
$darker-gray: #2b2b2b;
// $dark-gray: #333333;
$dark-gray: #404040;
// もう少し濃ゆいグレー
$medium-gray: #505050;
$light-gray: #a5a5a5;
$gray: #a9a9a9;
$lighter-gray: #e0e0e0;
$off-white: #ecebeb;
$extra-light-gray: #eeeeee;
$white: #ffffff;

//

//width
$breakpoint-sm: 576px;
$breakpoint: 786px;
$max-width-lg: 1080px;

//font
$font-family: "Noto Sans JP", sans-serif;
$font-family: "Shippori Mincho B1", serif;

// font-size
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;
$font-size-xxxl: 24px;

// font-weight
$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-bold: 700;
