@charset "utf-8";
@import "./variables.scss";

/*
  Theme information
*/

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Modern+Antiqua);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
  font: 14px/1.9 "Noto Sans JP", Arial, Verdana, 游ゴシック, YuGothic,
    "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo,
    sans-serif;
  font-family: "Shippori Mincho B1", serif;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
  color: $dark-gray;
  background: #fff;
}

// 共通
a {
  text-decoration: none;
  color: $dark-gray;
}

li {
  list-style: none;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
  width: 90%;
}

.c-header {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.sp-only {
  display: none;
  @media screen and (max-width: $breakpoint) {
    display: block;
  }
}

.pc-only {
  display: block;
  @media screen and (max-width: $breakpoint) {
    display: none;
  }
}

// header
.header {
  padding: 10px 0;
  color: $dark-gray;

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: $white;

    .logo__link {
      text-decoration: none;
      font-weight: $font-weight-bold;
      font-size: 24px;
      cursor: pointer;

      @media screen and (max-width: $breakpoint) {
        position: fixed;
        top: 25px;
        right: 50px;
      }
    }

    .nav__list {
      list-style: none;
      display: flex;
      gap: 15px;

      .nav__item {
        margin-right: 20px;

        .nav__link {
          text-decoration: none;
          color: $dark-gray;
          transition: all 0.3s ease;
          position: relative;
          display: inline-block;
          text-decoration: none;

          // ホバー時のアンダーライン
          &::after {
            position: absolute;
            bottom: -3px;
            left: 0;
            content: "";
            width: 100%;
            height: 1px;
            background: #000000;
            transform: scale(0, 1);
            transform-origin: right top;
            transition: transform 0.3s;
          }
          &:hover::after {
            transform-origin: left top;
            transform: scale(1, 1);
          }
        }
      }
    }
  }
}

// about
.about {
  margin: 100px auto;

  .about__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: $breakpoint) {
      flex-direction: column;
    }

    .about__image-wrap {
      margin: 0 auto;
      width: 50%;
      @media screen and (max-width: $breakpoint) {
        width: auto;
      }
      .about__image {
        width: 300px;
        height: 300px;
        margin: 0 auto;

        @media screen and (max-width: $breakpoint) {
          border: 1px solid $white;
          border-radius: 50%;
        }
        img {
          aspect-ratio: 1 / 1;
          width: 100%;
          height: auto;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
    .about__coder {
      width: 50%;
      color: $white;
      @media screen and (max-width: $breakpoint) {
        margin-top: 50px;
        width: 75%;
      }

      .about__coder-name {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 20px;

        @media screen and (max-width: $breakpoint) {
          text-align: center;
        }
      }

      .about__coder-description {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.75;
      }
    }
  }
}

// feature
.feature {
  margin: 150px auto;

  .feature__inner {
    color: $dark-gray;
    text-align: center;

    @media screen and (min-width: $breakpoint) {
      padding-bottom: 60px;
    }

    .feature__title {
      padding-bottom: 8px;
      font-size: $font-size-xxxl;
      font-weight: $font-weight-bold;

      @media screen and (min-width: $breakpoint) {
        font-size: 32px;
      }
    }

    .feature__list {
      @media screen and (min-width: $breakpoint) {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        margin-top: 80px;
      }
      .feature__item {
        margin: 40px auto 0;
        max-width: 280px;

        @media screen and (min-width: $breakpoint) {
          max-width: 344px;
          margin: 0;
        }

        .feature__list-icon-wrap {
          border-radius: 50%;
          width: 60px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          border: 1px solid $gray;
          cursor: pointer;

          &:hover {
            transform: scale(1.1);
            opacity: 0.8;
            transition: transform 0.3s ease, opacity 0.3s ease;
          }

          .feature__list-icon {
            margin: 0 auto;
            width: 40px;
            height: 40px;
            object-fit: cover;
            background-color: transparent;
          }
        }

        .feature__list-title {
          margin: 16px 0;
          font-size: $font-size-xl;
          font-weight: $font-weight-bold;
          line-height: 155.556%;

          @media screen and (min-width: $breakpoint) {
            font-size: 22px;
          }
        }
        .feature__list-text {
          font-size: $font-size-m;
          font-weight: $font-weight-base;
          line-height: 171.429%;

          @media screen and (min-width: $breakpoint) {
            font-size: $font-size-l;
            line-height: 1.75;
          }
        }
      }
    }
  }
}

// works
.works {
  margin: 80px auto;

  .works__inner {
    @media screen and (min-width: $breakpoint) {
      padding-bottom: 60px;
    }

    .works__header {
      padding-bottom: 8px;
      font-size: $font-size-xxxl;
      font-weight: $font-weight-bold;

      margin: 0 auto;
      text-align: center;

      @media screen and (min-width: $breakpoint) {
        font-size: 32px;
      }
    }
  }

  .works__col {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;

    @media screen and (max-width: $breakpoint) {
      flex-direction: column;
    }

    .works__item {
      width: calc(33.33% - 20px);
      margin-bottom: 20px;

      @media screen and (max-width: $breakpoint) {
        width: 80%;
        margin: 0 auto 20px;
      }

      // &:nth-child(3n) {
      //   margin-right: 0;
      // }

      .works__link {
        display: block;
        text-decoration: none;
        color: #333;
        transition: all 0.3s ease;

        .works__content {
          background-color: #fff;
          overflow: hidden;

          img {
            width: 100%;
            height: auto;
            transition: transform 0.3s ease;

            &:hover {
              transform: scale(1.075);
              transition: transform 0.3s ease;
            }
          }
        }
      }
    }
  }
}

// contact
// スタイリングは任意で追加してください

.contact {
  margin: 80px auto;
  text-align: center;

  .contact__inner {
    width: 70%;
    margin: 0 auto;

    .contact__title {
      margin: 0 auto;
      text-align: center;
      padding-bottom: 8px;
      font-size: $font-size-xxxl;
      font-weight: $font-weight-bold;

      @media screen and (min-width: $breakpoint) {
        font-size: 32px;
      }
    }
    .contact__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      .contact__text {
        line-height: 171.429%;
        margin-top: 40px;
      }
      .contact__icon {
        width: 40px;
        height: 40px;
        margin: 40px auto 0;

        img {
          width: 100%;
          height: 100%;
          &:hover {
            transition: all 0.3s ease;
            transform: scale(1.2); // ホバー時に拡大
            content: url("./img/twitter.svg"); // 別の画像を使用する場合は適切なファイルパスを指定
          }
        }
      }
      .contact__button {
        max-width: 200px;
        margin: 25px auto 0;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid $dark-gray;
        background-color: $white;
        color: $dark-gray;
        font-size: 16px;
        font-weight: 600;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
          background-color: $dark-gray;
          color: $white;
          transition: all 0.1s ease;
        }
      }
    }
  }
}

// footer
.footer {
  border-top: 1px solid $lighter-gray;
  // background-color: $medium-gray;
  background-color: $dark-purple;
  color: $white;
  padding: 50px;
  text-align: center;

  .footer__author {
    margin-bottom: 10px;
  }

  .footer__copyright {
    font-size: 14px;
  }
}

// ハンバーガーメニュー

.navigation {
  position: fixed;

  // top: 50px;
  // left: 50px;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.menuToggle a {
  text-decoration: none;
  color: $dark-gray;
  transition: color 0.3s ease;
}

.menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: $dark-gray;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menuToggle span:first-child {
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background-color: $dark-gray;
}

.menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: absolute;
  width: 100%;
  height: 500px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: $white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  .menu__link {
    text-align: center;
    position: relative;
    font-size: $font-size-xl;

    &:hover {
      opacity: 0.7;
    }
  }
}

.menuToggle input:checked ~ ul {
  transform: none;
}

// 文字が出てくるアニメーション

.letter {
  display: inline-block;
}

// ローディング

.loader {
  z-index: 100;
  // background-color: $dark-gray;
  background-color: $dark-purple;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader__border {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 3px solid $white;
    animation: animate 5s linear;
  }

  h2 {
    color: $white;
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#anim_net {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 450px;
  pointer-events: none;
  z-index: -999;

  @media screen and (max-width: $breakpoint) {
    height: 650px;
  }

  @media screen and (max-width: $breakpoint-sm) {
    height: 770px;
  }
}
