@charset "UTF-8";
/*
  Theme information
*/
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Modern+Antiqua);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
body {
  font: 14px/1.9 "Noto Sans JP", Arial, Verdana, 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
  font-family: "Shippori Mincho B1", serif;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
  color: #404040;
  background: #fff;
}

a {
  text-decoration: none;
  color: #404040;
}

li {
  list-style: none;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  width: 90%;
}

.c-header {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.sp-only {
  display: none;
}
@media screen and (max-width: 786px) {
  .sp-only {
    display: block;
  }
}

.pc-only {
  display: block;
}
@media screen and (max-width: 786px) {
  .pc-only {
    display: none;
  }
}

.header {
  padding: 10px 0;
  color: #404040;
}
.header .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: #ffffff;
}
.header .header__inner .logo__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
}
@media screen and (max-width: 786px) {
  .header .header__inner .logo__link {
    position: fixed;
    top: 25px;
    right: 50px;
  }
}
.header .header__inner .nav__list {
  list-style: none;
  display: flex;
  gap: 15px;
}
.header .header__inner .nav__list .nav__item {
  margin-right: 20px;
}
.header .header__inner .nav__list .nav__item .nav__link {
  text-decoration: none;
  color: #404040;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.header .header__inner .nav__list .nav__item .nav__link::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #000000;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.3s;
}
.header .header__inner .nav__list .nav__item .nav__link:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

.about {
  margin: 100px auto;
}
.about .about__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 786px) {
  .about .about__inner {
    flex-direction: column;
  }
}
.about .about__inner .about__image-wrap {
  margin: 0 auto;
  width: 50%;
}
@media screen and (max-width: 786px) {
  .about .about__inner .about__image-wrap {
    width: auto;
  }
}
.about .about__inner .about__image-wrap .about__image {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
@media screen and (max-width: 786px) {
  .about .about__inner .about__image-wrap .about__image {
    border: 1px solid #ffffff;
    border-radius: 50%;
  }
}
.about .about__inner .about__image-wrap .about__image img {
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.about .about__inner .about__coder {
  width: 50%;
  color: #ffffff;
}
@media screen and (max-width: 786px) {
  .about .about__inner .about__coder {
    margin-top: 50px;
    width: 75%;
  }
}
.about .about__inner .about__coder .about__coder-name {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
@media screen and (max-width: 786px) {
  .about .about__inner .about__coder .about__coder-name {
    text-align: center;
  }
}
.about .about__inner .about__coder .about__coder-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}

.feature {
  margin: 150px auto;
}
.feature .feature__inner {
  color: #404040;
  text-align: center;
}
@media screen and (min-width: 786px) {
  .feature .feature__inner {
    padding-bottom: 60px;
  }
}
.feature .feature__inner .feature__title {
  padding-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
}
@media screen and (min-width: 786px) {
  .feature .feature__inner .feature__title {
    font-size: 32px;
  }
}
@media screen and (min-width: 786px) {
  .feature .feature__inner .feature__list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 80px;
  }
}
.feature .feature__inner .feature__list .feature__item {
  margin: 40px auto 0;
  max-width: 280px;
}
@media screen and (min-width: 786px) {
  .feature .feature__inner .feature__list .feature__item {
    max-width: 344px;
    margin: 0;
  }
}
.feature .feature__inner .feature__list .feature__item .feature__list-icon-wrap {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid #a9a9a9;
  cursor: pointer;
}
.feature .feature__inner .feature__list .feature__item .feature__list-icon-wrap:hover {
  transform: scale(1.1);
  opacity: 0.8;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.feature .feature__inner .feature__list .feature__item .feature__list-icon-wrap .feature__list-icon {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: transparent;
}
.feature .feature__inner .feature__list .feature__item .feature__list-title {
  margin: 16px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 155.556%;
}
@media screen and (min-width: 786px) {
  .feature .feature__inner .feature__list .feature__item .feature__list-title {
    font-size: 22px;
  }
}
.feature .feature__inner .feature__list .feature__item .feature__list-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 171.429%;
}
@media screen and (min-width: 786px) {
  .feature .feature__inner .feature__list .feature__item .feature__list-text {
    font-size: 16px;
    line-height: 1.75;
  }
}

.works {
  margin: 80px auto;
}
@media screen and (min-width: 786px) {
  .works .works__inner {
    padding-bottom: 60px;
  }
}
.works .works__inner .works__header {
  padding-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 786px) {
  .works .works__inner .works__header {
    font-size: 32px;
  }
}
.works .works__col {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
@media screen and (max-width: 786px) {
  .works .works__col {
    flex-direction: column;
  }
}
.works .works__col .works__item {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}
@media screen and (max-width: 786px) {
  .works .works__col .works__item {
    width: 80%;
    margin: 0 auto 20px;
  }
}
.works .works__col .works__item .works__link {
  display: block;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;
}
.works .works__col .works__item .works__link .works__content {
  background-color: #fff;
  overflow: hidden;
}
.works .works__col .works__item .works__link .works__content img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
.works .works__col .works__item .works__link .works__content img:hover {
  transform: scale(1.075);
  transition: transform 0.3s ease;
}

.contact {
  margin: 80px auto;
  text-align: center;
}
.contact .contact__inner {
  width: 70%;
  margin: 0 auto;
}
.contact .contact__inner .contact__title {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
}
@media screen and (min-width: 786px) {
  .contact .contact__inner .contact__title {
    font-size: 32px;
  }
}
.contact .contact__inner .contact__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.contact .contact__inner .contact__content .contact__text {
  line-height: 171.429%;
  margin-top: 40px;
}
.contact .contact__inner .contact__content .contact__icon {
  width: 40px;
  height: 40px;
  margin: 40px auto 0;
}
.contact .contact__inner .contact__content .contact__icon img {
  width: 100%;
  height: 100%;
}
.contact .contact__inner .contact__content .contact__icon img:hover {
  transition: all 0.3s ease;
  transform: scale(1.2);
  content: url("./img/twitter.svg");
}
.contact .contact__inner .contact__content .contact__button {
  max-width: 200px;
  margin: 25px auto 0;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #404040;
  background-color: #ffffff;
  color: #404040;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}
.contact .contact__inner .contact__content .contact__button:hover {
  background-color: #404040;
  color: #ffffff;
  transition: all 0.1s ease;
}

.footer {
  border-top: 1px solid #e0e0e0;
  background-color: #231c25;
  color: #ffffff;
  padding: 50px;
  text-align: center;
}
.footer .footer__author {
  margin-bottom: 10px;
}
.footer .footer__copyright {
  font-size: 14px;
}

.navigation {
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.menuToggle a {
  text-decoration: none;
  color: #404040;
  transition: color 0.3s ease;
}

.menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: #404040;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menuToggle span:first-child {
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background-color: #404040;
}

.menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: absolute;
  width: 100%;
  height: 500px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.menu .menu__link {
  text-align: center;
  position: relative;
  font-size: 18px;
}
.menu .menu__link:hover {
  opacity: 0.7;
}

.menuToggle input:checked ~ ul {
  transform: none;
}

.letter {
  display: inline-block;
}

.loader {
  z-index: 100;
  background-color: #231c25;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .loader__border {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 3px solid #ffffff;
  animation: animate 5s linear;
}
.loader h2 {
  color: #ffffff;
}

.loaded {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#anim_net {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 450px;
  pointer-events: none;
  z-index: -999;
}
@media screen and (max-width: 786px) {
  #anim_net {
    height: 650px;
  }
}
@media screen and (max-width: 576px) {
  #anim_net {
    height: 770px;
  }
}/*# sourceMappingURL=style.css.map */